 @font-face {
    font-family: 'VarelaRound-Regular';
    src: local('VarelaRound-Regular.ttf'), url('VarelaRound-Regular.ttf') format('truetype');
}

*{
   box-sizing: border-box; 
}
body{
  font-family: 'VarelaRound-Regular';
}


/* NAVBAR */
.droop li h2{
    margin: 0px 0px 10px;
    line-height: 1.2;
    font-size: 24px;
    font-weight: 400;
    color: #2f2c2c;
}
.droop li{
    padding: 10px 0px 0px;
}
.droop li:nth-child(1) {
    padding: 10px 40px 0px;
}
.droop li p{
    display: block;
    margin: 10px 0px 10px;
    padding: 0px;
    font-size: 14px;
    color: #ccc;
    line-height: 1.3;
}

ul.droop li:hover a, ul.droop li:hover span{
    color: #4cc2c0;
    border-bottom: none;
}
.dropdown-content li:hover {
    background-color: unset;
}
ul.droop li a {
    display: block;
    font-size: 16px;
    padding: 0px 40px 0px;
    margin: 0px;
    color: #acacac;
    transition: all .3s ease-out;
    border-bottom: none;
    background-color: unset;

}
ul.droop li a span {
    font-size: 24px;
    opacity: 1;
    margin-right: 15px;
    margin-left: 0;
    vertical-align: middle;
    color: #e1e1e1;
    transition: all .4s ease;
}
.droop{
    position: absolute;
    margin-top: 0 !important;
    min-width: 330px !important;
    top: 100px !important;
    background-color: #ffffff !important;
    padding: 20px 0 30px !important;
    border-radius: 5px !important;
    box-shadow: 15px 15px 30px rgba(0, 0, 0, 0.16) !important;
    list-style: none !important;
    border: 0px solid transparent;

}
nav .nav-wrapper i{
  margin-left: 2px;
}
.nav-link li a{
  font-family: 'VarelaRound-Regular';
  color: black;
  font-size: 17px;
  transition: all .2s linear;
  border-bottom: 3px solid transparent;
}
.nav-link li a:hover{
    background-color: white;
    color: #4cc2c0;
    border-bottom: 3px solid #4cc2c0;
}
.main-navigations{
  background-color: white;
  box-shadow: unset;
  height: 113px;
}
.main-navigations .container{
  width: 85%;
}
.material-icons{
  color: black;
}
nav .brand-logo {
    padding-top: 16px;
}
.nav-link{
  padding-top: 24px;
}

/* PARALLAX */

.head-text {
  color: black;
  font-family: 'VarelaRound-Regular';
  font-size: 47px;
}
.para-text {
  color: #6e6d6d;
  font-family: 'VarelaRound-Regular';
  font-size: 23px;
}
.btn-start{
  background-color: #302c2d;
  margin-left: 32px;

}
.btn-learn{
  background-color: #f15b26;
}
.parallax-bt {
    text-transform: uppercase;
    border-radius: 50px;
    color: #fff;
    font-family: 'VarelaRound-Regular';
    cursor: pointer;
    display: inline-block;
    width: 204px;
    height: 66px;
    font-size: 15px;
    padding: 0px;
    line-height: 66px;
    text-align: center;
    z-index: 9;
}
.two-btn{
   margin-top: 50px;
}

 /* MULTICOLORS */
 .rec1{
  background-image: url(../img/1.png);
  background-position: right;
  background-repeat: no-repeat;
  font-family: 'VarelaRound-Regular';
 }
.rec2{
  background-image: url(../img/2.png);
  background-position: right;
  background-repeat: no-repeat;
  font-family: 'VarelaRound-Regular';
 }

 .rec3{
    background-image: url(../img/3.png);
  background-position: right;
  background-repeat: no-repeat;
  font-family: 'VarelaRound-Regular';
 }

 .rec4{
  background-image: url(../img/4.png);
  background-position: right;
  background-repeat: no-repeat;
  font-family: 'VarelaRound-Regular';
 }

 .rec5{
  background-image: url(../img/5.png);
  background-position: right;
  background-repeat: no-repeat;
  font-family: 'VarelaRound-Regular';
 }
.rec{
      width: 20%;
      float: left;
      height: 130px;
      display: block;
      overflow: hidden;
    }
    .rec{
      position: relative;
    }
    .rec span{
    display: block;
    width: 235px;
    padding: 0px 0px 0px 0px;
    color: #fff;
    font-size: 25px;
    font-family: 'VarelaRound-Regular';
    position: absolute;
    top: 37px;
    left: 17px;
    z-index: 99;
    overflow: hidden;
    line-height: 30px;
    }

/* RESULTS */
.result-block{
    margin: 130px 0px;
    padding: 75px 0px 0px 0px;
    overflow: hidden;
}
.result-block .container{
  width: 85%;
}
.result-title{
  text-align: center;
}
.result-txt{
  font-size: 47px;
  font-family: 'VarelaRound-Regular';
  margin: 0;
  padding: 0;
}
.heading-line2{
    width: 100px;
    height: 3px;
    display: inline-block;
    background-color: #a4d8f5;
    vertical-align: top;
}
.heading-divider{
  margin: 32px auto 0px;

}
.heading-line1{
    width: 30px;
    height: 3px;
    display: inline-block;
    background-color: #a4d8f5;
    vertical-align: top;
    margin-right: 10px;
}
.result-para{
  color: #9d9c9c;
  font-family: 'VarelaRound-Regular';
  font-size: 23px;
  padding: 0;
  margin: 10px 0px 0px;
}

.product-part-content h2{
  font-size: 23px;
  font-family: 'VarelaRound-Regular';
  margin: 15px 0px;
  padding: 0px;
  line-height: 25px;
  color: #302c2d;
  letter-spacing: .5pt;
}
.product-part-content{
    display: block;
    margin: 0px 0px 75px;
    margin-left: 30px;
  }
.product-part-content p{
  font-size: 15px;
  font-family: 'VarelaRound-Regular';
  font-size: 14px;
   margin: 0px;
    padding: 0px;
    line-height: 22px;
    color: #bbbbbb;
    letter-spacing: .5pt;
    min-height: 95px;
}

.product{
  margin-top: 100px;
}

/* COUNTER */
.counter-main .container{
  width: 85%;
}
.counter-title{
  font-size: 79px;
  font-family: 'VarelaRound-Regular';
  color: #fff;
}
.divider{
    width: 80px;
    height: 3px;
    background-color: #fdc14e;
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}
.counter-txt{
  font-size: 30px;
  font-family: 'VarelaRound-Regular';

}
.counter-main{
  background-color: #fcaf3b;
  padding-top: 44px;
  padding-bottom: 44px;
}
.counter-img{
  text-align: center;
}
.counter{
  text-align: center;
}
.counter3{
  padding-top: 22px;
}
.counter2{
  padding-top: 3px;
}
.counter4{
  padding-top: 26px;
}

/* MOBILE */

.heading-line3{
    width: 100px;
    height: 3px;
    display: inline-block;
    background-color: #ff876b;
    vertical-align: top;
}
.heading-line4{
    width: 30px;
    height: 3px;
    display: inline-block;
    background-color: #ff876b;
    vertical-align: top;
    margin-right: 10px;
}
.mobile-txt{
  font-family: 'VarelaRound-Regular';
  font-size: 47px;
    margin: 0px;
    padding: 0px;
    color: #302c2d;
    line-height: 55px;
    cursor: pointer;
}
.mobile-info p{
  font-family: 'VarelaRound-Regular';
  margin: 33px 0px 40px;
    padding: 0px;
    font-size: 19px;
    color: #302c2d;
    line-height: 29px;
    letter-spacing: .2pt;
}
.mobile-list p{
  font-family: 'VarelaRound-Regular';
  font-size: 13px;
  color: #969696;
}
.fa-check{
  color: #ffb28c;
  padding-right: 18px;
}
.mobile-list{
  padding-left: 11px;
}
.two-btns{
    display: inline-block;
    width: 190px;
    height: 60px;
    line-height: 60px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'VarelaRound-Regular';
    margin: 40px 0px 0px;
    padding: 0px;
    border: 1px solid;
    text-align: center;
    border-radius: 50px;
}
.btn-learns{
    background-color: #fff;
    color: #ff876b;
    border-color: #ff876b;
}
.btn-contact{
    background-color: #ff876b;
    color: #fff;
    border-color: #ff876b;
    margin-left: 20px;
}
.mobile{
    margin: 0px;
    padding: 80px 0px;
    overflow: hidden;
}

.mobile .container{
  width: 85%;
}
/* PROCESS */
.process-title{
  text-align: center;
}
.process-txt{
    font-family: 'VarelaRound-Regular';
    margin: 0px 0px 0px;
    padding: 0px;
    font-size: 47px;
    color: #302c2d;
    line-height: 55px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 1pt;
}
.heading-line6{
    width: 100px;
    height: 3px;
    display: inline-block;
    background-color: #3cb879;
    vertical-align: top;
}
.heading-line5{
    width: 30px;
    height: 3px;
    display: inline-block;
    background-color: #3cb879;
    vertical-align: top;
    margin-right: 10px;
}
.process-para{
    font-family: 'VarelaRound-Regular';
    display: block;
    width: 740px;
    margin: 10px auto 0px;
    padding: 0px;
    font-size: 23px;
    color: #9d9c9c;
    line-height: 35px;
    text-align: center;
    letter-spacing: .5pt;
}

.creative-image-part{
      display: block;
    width: 170px;
    height: 170px;
    background-color: #fff;
    position: relative;
    margin: 0px auto;
    padding: 0px;
    border-radius: 50%;
    border: 5px solid #d7d8d8;
  }  
  .creative-image {
    display: block;
    position: relative;
    margin: auto;
    padding: 0px;
    text-align: center;
}
  .c1{
    width: 106px;
    height: 109px;
    top: 25px;
  }
  .c2{
    width: 78px;
    height: 123px;
    top: 21px;
  }
  .c3{
    width: 117px;
    height: 117px;
    top: 22px;
  }
 .c4{
      width: 124px;
    height: 72px;
    top: 44px;
 }
 .c5{
    width: 119px;
    height: 103px;
    top: 30px;
 }
 .c6{
    width: 95px;
    height: 89px;
    top: 30px;
 }
 .creative-desc p {
    margin: 25px 0px;
    padding: 0px;
    font-size: 20px;
    font-family: 'VarelaRound-Regular';
    text-align: center;
    text-transform: uppercase;
    color: #302c2d;
}
.process-block{
  margin: 0px;
  background-image: url(../img/bubble-two.png);
  background-repeat: no-repeat;
}
.process-block .container{
  width: 85%;
}
.creative-part {
    display: block;
    margin: 77px 0px 0px;
    padding: 0px;
    width: 100%;
}
.creative-btn{
    display: inline-block;
    line-height: 60px;
    font-size: 15px;
    text-transform: uppercase;
    font-family: 'VarelaRound-Regular';
    margin: 45px 0px 0px;
    padding: 0px;
    border: 1px solid;
    text-align: center;
    border-radius: 50px;
}
.creative-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.more {
    width: 154px;
    height: 60px;
    background-color: #302c2d;
    color: #fff;
    border-color: #302c2d;
}
.get {
    width: 199px;
    height: 60px;
    background-color: #36b77e;
    color: #fff;
    border-color: #36b77e;
    margin-left: 64px;
}
.btn-creative-part {
    display: block;
    margin: 0px auto 105px;
    padding: 0px;
    text-align: center;

}
/* NEWSLETTER */
section.newsletter {
    position: relative;
    margin: 0px 0px 0px;
    padding: 0px;
    background-color: #ff754c;
    overflow: hidden;
    z-index: 99;
}
section.newsletter .container{
  width: 85%;
}
section.newsletter .newsletter-content h2 {
    margin: 43px 0px 27px;
    padding: 0px;
    font-size: 30px;
    font-family: 'VarelaRound-Regular';
    color: #fff;
    text-transform: capitalize;
}
section.newsletter .newsletter-content p {
    padding: 18px 0px 16px;
    margin: 0px;
    color: #ffc7b7;
    letter-spacing: 1pt;
    font-family: 'VarelaRound-Regular';
}
section.newsletter .news-letter-form .input {
    width: 100%;
    height: 60px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 0px solid transparent;
    margin: 0px;
    padding: 0px 0px 0px 40px;
    color: #dbdbdb;
    border-outline: none;
    font-size: 16px;
    font-family: 'VarelaRound-Regular';
    background-color: #fff;
}
section.newsletter .news-letter-form .check-box {
    display: block;
    width: 100%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    background-color: #f9f9f9;
}
section.newsletter .input-btn {
    width: 100%;
    height: 60px;
    margin: 0px;
    padding: 0px;
    background-color: #302c2d;
    color: #fff;
    border: 0px solid transparent;
    font-size: 15px;
    font-family: 'VarelaRound';
    text-transform: uppercase;
    box-shadow: 0px 0px 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    outline: none;
}
.check-box span{
  font-size: 12px!important;
    font-family: 'VarelaRound-Regular';
    margin: 0px;
    color: black;
    letter-spacing: 0px;
}
.check-box label{
  padding-left: 10px;
}
section.newsletter .newsletter-blub {
    display: block;
    width: 70px;
    height: 70px;
    position: absolute;
    z-index: -1;
    transition: all ease-in-out 1000ms;
    transition-delay: 5ms;
}
section.newsletter .newsletter-blub.ok {
    top: 8px;
    right: 102px;
}
section.newsletter .newsletter-email {
    display: block;
    width: 120px;
    height: 80px;
    position: absolute;
    z-index: -1;
    transition: all ease-in-out 1200ms;

}
section.newsletter .newsletter-email.ok {
    bottom: 0px;
    right: 102px;
}
.newsletter-content{
  padding-left: 24px;
}
.footer-content{
  margin-top: 50px;
}
.footer-content h3{
  font-size: 36px;
  font-family: 'VarelaRound-Regular';
  margin: 0px;
  padding: 0px;
  line-height: 35px;
  cursor: pointer;
  color: #fff;
}
.footer-content p {
    font-size: 15px;
    font-family: 'VarelaRound-Regular';
    padding: 0px;
    margin: 10px 0px 30px 0px;
    line-height: 25px;
    color: #797979;
    letter-spacing: .5pt;
}
.footer-content .social li {
    display: inline-block;
    list-style-type: none;
}
.footer-content .social li a {
    display: block;
    width: 25px;
    height: 25px;
    margin: 0px 15px 0px 0px;
    padding: 0px;
    overflow: hidden;
}
.footer-content .social li:last-of-type a {
    margin-right: 0px;
}

.services .services-list li {
    list-style-type: none;
    background-image: url(../img/arrow-services.png);
    background-repeat: no-repeat;
    background-position: left top 5px;
}
.services .services-list li p {
    font-size: 14px;
    font-family: 'VarelaRound-Regular';
    margin: 0px 0px 10px;
    padding: 0px;
    color: #adadad;
    padding-left: 20px;
    line-height: 17px;
    letter-spacing: 0pt;
    transition: all linear 300ms;
}
footer .bottom-line {
    margin: 0px;
    padding: 0px;
    border-bottom: 2px solid #2d2b2c;
}
footer .content-part {
    margin: 46px 0px 37px;
    padding: 0px;
}
footer .content-part .phone-img {
    display: block;
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin: 0px 35px 0px 0px;
    padding: 0px;
    float: left;
}
footer .content-part h2 {
    font-size: 24px;
    font-family: 'VarelaRound-Regular';
    margin: 0px;
    padding: 0px;
    line-height: 23px;
    display: block;
    color: #fff;
    transition: all linear 300ms;
}
footer .content-part h2:hover {
    color: #4cc2c0;
}
footer .content-part h2 span {
    display: block;
    font-size: 15px;
    font-family: 'VarelaRound-Regular';
    margin: 8px 0px 0px;
    padding: 0px;
    color: #797979;
}
footer .copyright p {
    display: block;
    margin: 0px 0px 27px;
    padding: 0px;
    font-size: 13px;
    font-family: 'VarelaRound-Regular';
    color: #5d5d5d;
}
footer .copyright p span {
    font-size: 15px;
    color: #5d5d5d;
    text-transform: uppercase;
}
.myfoot{
  background-color: black;
  width: 100%;
  padding: 0;
  margin: 0;
  display: inline-block;
}
footer .copyright {
    margin: 0px;
    padding: 0px;
    position: relative;
}
footer .container {
    position: relative;
    width: 85%;
}
footer .cloud {
    display: block;
    width: 43px;
    height: 38px;
    position: absolute;
    right: 15px;
    bottom: -11px;
    z-index: 999;
    cursor: pointer;
    transition: all ease-in-out 500ms;
}
footer .cloud:hover {
    transform: scale(1.2);
}

.myfoot .services{
  margin-left: 55px;
}


/*......(BLOG PAGE)...... */

section.inner-header {
    background-image: url(../img/bg-violet.jpg);
    margin: 0px;
    background-repeat: repeat;
    background-position: center center;
    padding: 50px 0px;
}
section.inner-header h2 {
    color: #fff;
    line-height: 1.2;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    font-size: 48px;
    font-weight: 400;
    font-family: 'VarelaRound-Regular';
}
section.inner-header ul li a {
    text-transform: uppercase;
    color: #fff;
    font-size: 16px;
    font-family: 'VarelaRound-Regular';
    opacity: .5;
    margin-right: 20px;
}
section.inner-header ul li p {
    color: #fff;
    font-size: 16px;
    font-family: 'VarelaRound-Regular';
}
section.inner-header ul {
    display: table;
    min-width: 140px;
    margin: 0px auto;
    padding: 0px;
    position: relative;
}
section.inner-header ul li {
    display: inline-block;
    color: #fff;
}
section.inner-header ul li i{
    color: #fff;
    opacity: .5;
    vertical-align: text-bottom;
    padding-left: 15px;
    font-size: 22px;
    margin: 0;

}
section.blog .blog-part-img-part img{
  width: 100%;
}
section.blog .author-img img{
  width: 100%;
}
section.blog .blog-part .blog-part-content .author-img img {
    display: block;
    width: 66px;
    height: 66px;
    margin: 0px auto 10px;
    padding: 0px;
    border-radius: 100%;
}
section.blog .blog-part .blog-part-content .author-part p {
    font-size: 14px;
    color: #ccc;
    text-align: center;
    display: block;
}
section.blog .blog-part .blog-part-content .author-part a {
    display: block;
    line-height: 1;
    font-size: 14px;
    color: #ccc;
    text-decoration: none;
    transition: all 0.15s linear;
}
section.blog .blog-part .blog-part-content .author-part a:hover {
    color: #4cc2c0;
}
section.blog .blog-part .blog-part-content .blog-post-content h2 {
    margin: 0px 0px 15px;
    padding: 0px;
    font-size: 26px;
    font-weight: bold;
    line-height: 1.25;
}

section.blog .blog-part .blog-part-content .blog-post-content h2 a{
    color: #2f2c2c;
}

section.blog .blog-part .blog-part-content .blog-post-content h2 a:hover{
  color: #4cc2c0;
}
section.blog .blog-part .blog-part-content .blog-post-content p {
    margin: 0 0 .75em;
    line-height: 26px;
    font-size: 17px;
    color: #acacac;
}
section.blog .blog-post-content ul li .post-time {
    margin: 0px;
    padding: 0px;
    display: block;
    font-size: 14px;
    color: #ccc;
}
section.blog .blog-post-content ul li .post-time .icon i {
    font-size: 22px;
    margin-right: 10px;
    transition: all .3s ease;
    color: #ccc;
    vertical-align: text-bottom;
}
section.blog .blog-post-content ul li .post-time a {
    display: inline-block;
    color: #ccc;
    font-weight: 400;
    line-height: 1.5;

}
section.blog .blog-post-content ul li .post-time a:hover {
    color: #4cc2c0;
}
section.blog .blog-part .blog-part-img-part {
    padding: 0px;
    margin: 0px 0px 60px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
    text-align: center;
}
section.blog .blog-part .blog-part-content .blog-post-content ul li {
    display: inline-block;
}
section.blog .blog-post-content a.continue {
    margin-bottom: 30px;
    padding: 15px 35px;
    font-size: 16px;
    background-color: #2f2c2c;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    line-height: 1;
    color: #fff;
    border-radius: 50px;
    transition: all .3s ease;
    text-align: center;
}
section.blog .blog-post-content a.continue:hover {
    background-color: #4cc2c0;
    box-shadow: 9px 9px 9px 0 rgba(47, 44, 44, 0.2);
}
section.blog .blog-part {
    display: block;
    padding: 30px;
    background-color: #f7f9f9;
    margin: 0px 0px 60px;
}
section.blog {
    margin: 0px;
    padding: 120px 0px 0px;
}
section.blog .container{
  width: 85%;
}
section.blog .blog-part .blog-part-content {
    display: block;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: table-header-group;
}

section.blog .post-category-part h2 {
    margin-bottom: 40px;
    font-size: 30px;
    color: #2f2c2c;
    line-height: 1px;
    margin-top: 18px;
}
.heading-line5 {
    width: 30px;
    /* height: 3px; */
    display: inline-block;
    background-color: #4cc2c0;
    vertical-align: top;
    margin-right: 10px;
}
.heading-line6 {
    width: 100px;
    height: 3px;
    display: inline-block;
    background-color: #4cc2c0;
    vertical-align: top;
}
.post-category-part ul li .category-list span {
    display: inline-block;
    font-size: 14px;
    transition: all 0.3s ease 0s;
    width: 20%;
}
.post-category-part ul li .category-list a {
    color: #acacac;
    display: inline-block;
    float: right;
    font-size: 15px;
    transition: all 0.3s ease 0s;
    width: 80%;
}
.post-category-part ul li .category-list {
    color: #acacac;
    margin-bottom: 10px;
    width: 100%;
}
section.blog .post-category-part {
    margin: 0px 0px 30px;
    padding: 0px;
}
section.blog .blog-about h2 {
    line-height: 1;
    margin: 0;
    margin-bottom: 25px;
    font-size: 30px;
    color: #2f2c2c;
    padding: 0;
}
section.blog .blog-about p {
    line-height: 1.4;
    margin: 0;
    margin-bottom: 30px;
    font-size: 17px;
    color: #acacac;
    padding: 0;
}
section.blog .blog-about .about-more {
    padding: 12px 35px;
    color: #4cc2c0;
    border: 2px solid;
    font-size: 16px;
    cursor: pointer;
    line-height: 1;
    border-radius: 50px;
    transition: all .3s ease;
    text-align: center;
    display: inline-block;
}
section.blog .blog-about{
  margin-bottom: 30px;
}
section.blog .contact-wid .contact-img {
    display: block;
    margin: 0px auto 30px;
    padding: 0px;
}
section.blog .contact-desc h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    color: #2f2c2c;
}
section.blog .contact-desc p {
    color: #fff;
    font-size: 17px;
    margin: 0px;
    padding: 0;
    margin-bottom: 30px;
    line-height: 26px;
    font-weight: 400;
}
section.blog .contact-wid {
    display: block;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    margin-bottom: 30px;
    float: left;
    padding: 60px 30px;
    border-radius: 10px;
    border-color: transparent;
    text-align: center;
    background-image: url(../img/bg-boxed-red.jpg);
}
section.blog .contact-desc .contact-more {
    background-color: #2f2c2c;
    padding: 15px 35px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    color: #fff;
    border-radius: 50px;
    transition: all .3s ease;
    text-align: center;
}
section.blog .social-con h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    color: #2f2c2c;
}
section.blog .social-con .facebook-div {
    padding: 12px 15px 12px 40px;
    display: inline-block;
    width: 100%;
    background-color: #3a589b;
    position: relative;
}
section.blog .social-con .facebook-div .facebook-follow {
    margin-right: 20px;
    display: inline-block;
    text-decoration: none;
    transition: all 0.15s linear;
    font-size: 30px; 
    color: #fff;
}

section.blog .social-con .facebook-div .facebook-plus {
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}
section.blog .social-con .facebook-div .facebook-plus span {
    display: inline-block;
    width: 60px;
    height: 100%;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
    line-height: 60px;
    background-color: rgba(0, 0, 0, 0.1);
}
section.blog .social-con .facebook-div.twitter {
    background-color: #08acee;
}
section.blog .social-con .heading-dividers {
    margin-bottom: 30px;
}

section.blog .bloggers{
    margin-left: 80px;
}

/* ...(SERVICES PAGE)......*/

section.service .service-article h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 34px;
    font-weight: 400;
    color: #2f2c2c;
    line-height: 1.3;
}
section.service .service-article p {
    font-weight: 400;
    line-height: 1.4;
    margin: 0px 0px 30px;
    font-size: 18px;
    color: #acacac;
    padding: 0px;
}
section.service .service-article .service-more {
    display: inline-block;
    line-height: 1;
    margin: 0px 0px 30px;
    font-size: 15px;
    color: #fff;
    padding: 23px 31px;
    background-color: #2f2c2c;
    border-radius: 50px;
    transition: all .3s ease;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;

}
section.service .service-article .shape {
    position: absolute;
    top: 12px;
    left: 12px;

}
section.service .website-article-img{
    
   margin: 0px 0px 50px;
   text-align: center;

}
section.service .website-article-img img{
    
   width: 200px;
   height: 200px;
}
section.service .website-article-desc h2 {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    font-size: 30px;
    font-weight: 400;
    color: #2f2c2c;
    line-height: 1;
}
section.service .website-article-desc p {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #fff;
    line-height: 22px;
    margin-bottom: 30px;
}
section.service .website-article-desc a i {
    text-decoration: none;
    font-size: 26px;
    transition: all .3s ease;
    color: #fff;
}
section.service .website-article-desc:hover a i {
    color: #2f2c2c;
}
section.service .website-article-desc:hover p {
    color: #acacac;
}
section.service .website-article {
    background-color: #69777a;
    padding: 60px 45px;
    transition: all .3s ease-in-out;

}
section.service .service-article {
    padding: 60px 30px 60px 0px;
}
section.service .website-article:hover {
    background-color: #f7f9f9;

}
section.service {
    margin: 0px;
    padding: 80px 0px 30px;
}
section.service .container {
    width: 85%;
}
section.service .primary-art{
    background-color: #4cc2c0;
}
section.service .orange-art{
    background-color: #f15b26;
}

section.service .yellow-art{
    background-color: #fcb03b;
}
section.service .green-art{
    background-color: #3cb878;
}
section.newsletter .news-letter-form .col{
  padding: 0;
  margin: 0;
}



/* ...(CAREER PAGE)......*/
section.career {
  background-image: url(../img/pattern-bg-rose.jpg);
}
section.career-head h2 {
    margin: 0px;
    padding: 0px;
    line-height: 1.3;
    font-size: 48px;
    text-align: center;
}
section.career-head p {
    margin: 0px 0px 60px;
    padding: 0px;
    line-height: 30px;
    font-size: 24px;
    color: #acacac;
    text-align: center;
}
section.career-head .heading-dividers {
    margin: 20px auto 10px auto;
    text-align: center;

}
section.career-head {
    margin: 0px;
    padding: 80px 0px 0px;
}
section.career-head .container {
    width: 85%;
}
section.career-head .career-links-part span {
    font-size: 17px; 
    margin-right: 24px;

}
section.career-head .career-links-part a {
    color: #acacac;
    text-decoration: none;
    font-size: 17px; 
}
section.career-head .career-links-part  {
    position: relative;
    margin: 0px 0px 10px;
    padding: 0px;
}
section.career-head .career-links {
    margin: 0px;
    padding: 0px;
    margin-bottom: 140px;
}

section.career-form .tell-us-form label {
    color: #acacac;
    font-size: 18px;
    margin: 10px 0px 30px;
    display: block;
    line-height: 1.5;
}
section.career-form {
    background-image: url(../img/bg-boxed-light.jpg);
    margin: 0px;
    padding: 80px 0px;
}
section.career-form h2 {
    text-align: center;
    font-size: 48px;
    color: #2f2c2c;
    padding: 0px;
    margin: 0px 0px 20px;
}
section.career-form .heading-dividers {
    text-align: center;
    margin-bottom: 20px;
}
section.career-form .tell-us-form input {
    outline: none;
    background-color: #fff;
    border-radius: 50px;
    padding: 10px 10px;
    display: block;
    border-color: transparent;
    width: 96%;
    font-size: 16px;
    color: #acacac;
    margin-top: 50px;
}
section.career-form .tell-us-form .input-field {
    position: relative;
}
section.career-form .tell-us-form .input-field .ion i{
   position: absolute;
    top: 72px;
    right: 53px;
    font-size: 22px;
    color: #4cc2c0;
}
section.career-form .tell-us-form textarea {
    outline: none;
    background-color: #fff;
    border-radius: 30px;
    padding: 10px 10px;
    display: block;
    border-color: transparent;
    width: 100%;
    font-size: 16px;
    color: #acacac;
    min-height: 282px;
    resize: none;
    outline: none;

}
section.career-form .tell-us-form .input-part input{
    outline: none;
    background-color: #fff;
    border-radius: 50px;
    padding: 20px 40px;
    display: block;
    border-color: transparent;
    width: 100%;
    font-size: 16px;
    color: #acacac;
}
section.career-form .tell-us-form .input-part {
    position: relative;
}
section.career-form .tell-us-form .input-part .ion1 i{
   position: absolute;
    top: 23px;
    right: 27px;
    font-size: 22px;
    color: #4cc2c0;
}
section.career-form .tell-us-form .input-btn {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    padding: 23px 31px;
    background-color: #4cc2c0;
    border: 0px solid transparent;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    line-height: 1;
    color: #fff;
    border-radius: 50px;
    transition: all .3s ease;
    background-color: #3cb879;
    font-family: 'VarelaRound-Regular';
}
section.career-form .tell-us-form .input-btn-career .form-paras {
    font-size: 14px;
    color: #acacac;
    padding: 17px 0px 0px;
    margin: 0px;
    max-width: 90%;
    margin-left: 10px;
}
section.career-form .tell-us-form .input-btn-career{
    margin: 70px 0px 0px;
    padding: 0px;
}


/* ...(TESTIMONIALS PAGE)......*/
section.test{
  background-image: url(../img/pattern-bg-lightblue.jpg);
}
section.small{
    margin: 0px;
    padding: 80px 0px;

}
section.small .container {
    width: 85%;

}
section.small h2 {
    margin: 0px;
    padding: 0px;
    line-height: 1.3;
    font-size: 48px;
}

section.small .heading-divider {
    margin: 20px 0 10px 0;

}
section.testimonial .testimonial-part .testimonial-para p {
    padding: 0px;
    font-size: 17px;
    color: #524f4f;
    line-height: 26px;
    margin: 0px 0px 0.75em;
}
section.testimonial .testimonial-part {
   background-color: #fff;
   width: 100%;
   height: auto;
   padding: 50px 60px;
   margin: 0px 0px 30px;
}
section.testimonial {
    margin: 0px;
    padding: 80px 0px;
    background-color: #f9f9f9;
}
section.testimonial .container {
    width: 85%;
}
section.testimonial .testimonial-part .testimonial-desc .testimonial-name h3 {
    margin: 0;
    font-size: 18px;
    color: #2f2c2c;
}
section.testimonial .testimonial-part .testimonial-desc .testimonial-name h3 span {
    margin: 0;
    color: #4cc2c0;
    font-size: 16px;
    padding-top: 6px;
    display: block;
}
section.testimonial .testimonial-part .testimonial-desc .testimonial-imgs {
    display: inline-block;
    float: left;
    margin: 0px 30px 5px 0px;
    padding: 0;
    vertical-align: middle;

}
section.testimonial .testimonial-part .testimonial-desc .testimonial-name {
    display: inline-block;
    vertical-align: middle;
    padding-top: 10px;
}


/* ...(WEBSITE DEVELOPMENT PAGE)......*/
section.website {
    background-image: url(../img/pattern-bg-gray.jpg);
}
section.web h2 {
    margin: 0px 0px 20px;
    padding: 0px;
    line-height: 1.3;
    font-size: 48px;
    color: #2f2c2c;
    text-align: center;
}
section.web .heading-divider {
    text-align: center;
    margin: 0px 0px 60px;
}
section.web .web-img {
    text-align: center;
    margin: 0px 0px 60px;
}
section.web p {
    margin: 0px;
    padding: 0px;
    font-size: 24px;
    color: #acacac;
    text-align: center;
    line-height: 1.5;
}
section.web .web-desc a {
    margin: 60px auto 0px;
    padding: 23px 31px;
    background-color: #00adef;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    line-height: 1;
    text-transform: uppercase;
    font-family: 'VarelaRound-Regular';
    color: #fff;
    border-radius: 50px;
    text-align: center;
    position: relative;
}
section.web .web-desc .web-shape {
    position: absolute;
    top: 12px;
    left: 12px;
}
section.web .web-desc{
  text-align: center;
}
section.web{
  padding: 80px 0;
  background-color: #f7f9f9;
}
section.tell-story .tell-story-desc h2 {
    line-height: 1.3;
    margin: 0px 0px 20px;
    padding: 0px;
    font-size: 36px;
    color: #2f2c2c;
}
section.tell-story .tell-story-desc p {
    line-height: 26px;
    margin: 0px 0px 30px;
    padding: 0px;
    font-size: 17px;
    color: #acacac;
}
section.tell-story .tell-story-desc a {
    margin: 0px;
    padding: 23px 31px;
    position: relative;
    font-size: 15px;
    font-family: 'VarelaRound-Regular';
    background-color: #80be2d;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    border-radius: 50px;
    text-align: center;
}
section.tell-story .tell-story-desc .story-shape {
  position: absolute;
  top: 12px;
  left: 12px;
}
section.tell-story .container {
    width: 85%;
}
section.tell-story {
    margin: 0px;
    padding: 80px 0px;
}
section.tell-story .tell-story-desc{
  
  margin-left: 38px;
}
section.client .client-part .client-part-content p {
    margin: 0px 0px 0px;
    padding: 0px 120px;
    font-size: 30px;
    line-height: 1.3;
    color: #2f2c2c;
    text-align: center;
}
section.client .client-part .client-img{
    width: 55px;
    height: 64px;
    margin: 0px 30px 15px 0px;
    padding: 0px;
}

section.client .client-part .client-part-head .client-name h3 {
    font-size: 18px;
    color: #4cc2c0;
    margin: 0px 0px 5px;
    padding: 0px 0px 0px;
    line-height: 1.5;
}
section.client .client-part .client-part-head .client-name h3 span {
    display: block;
    font-size: 14px;
    color: #797676;
    margin: 0px 0px 0px;
    padding: 0px;
    line-height: 1.5;
    text-align: center;
}
section.client .client-part .client-part-head .client-name{
   width: 155px;
   height: auto;
}

section.client .client-part .client-part-head {
    display: flex;
    align-items: center;
    justify-content: center;
}
section.client .client-part .client-part-content {
    padding: 0px;
    margin-bottom: 40px;
}
section.client .client-part {
    margin-bottom: 83px;
}
section.client {
    margin: 0px;
    padding: 80px 0px;
    background-image: url(../img/bg-light.jpg);
}
.owl-carousel .owl-dot span {
    display: inline-block!important;
    width: 15px;
    border-radius: 50%;
    height: 15px;
    overflow: hidden;
    background-color: #d7d7d7;
    border: 2px solid transparent;
    transition: all ease-in-out 300ms;
    margin-right: 10px;
}
.owl-theme .owl-dots .owl-dot.active span {

    border: 2px solid #4cc2c0;
    background-color: transparent;
}
.owl-theme .owl-dots{
    width: 300px;
    margin: 0 auto;
}
section.tell-us h2 {
    line-height: 1.3;
    font-size: 48px;
    padding: 0px;
    margin: 0px;
}
section.tell-us .heading-divider {
    margin: 20px 0 0 0;
}
section.tell-us p {
    margin: 0px 0px 30px;
    padding: 0px;
    font-size: 17px;
    line-height: 26px;
    color: #acacac;
}
section.tell-us .tell-us-form .input-div input {
    background-color: #f7f9f9;
    border-radius: 50px;
    padding: 10px 30px;
    border-color: transparent;
    font-size: 16px;
    color: #acacac;
    width: 90%;
    outline: none;
}
section.tell-us .tell-us-form .input-divs input {
    background-color: #f7f9f9;
    border-radius: 50px;
    padding: 10px 30px;
    border-color: transparent;
    font-size: 16px;
    color: #acacac;
    width: 80%;
    outline: none;
}
section.tell-us .tell-us-form .input-div .textarea {
    background-color: #f7f9f9;
    border-radius: 30px;
    padding: 20px 40px;
    border-color: transparent;
    font-size: 16px;
    color: #acacac;
    width: 100%;
    min-height: 258px;
    resize: none;
    outline: none;
}
section.tell-us .tell-us-form .form-para {
    font-size: 14px;
    color: #acacac;
    padding: 17px 0px 0px;
    margin: 0px;
}
section.tell-us .tell-us-form .input-btn {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    padding: 23px 31px;
    background-color: #4cc2c0;
    border: 0px solid transparent;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    font-size: 15px;
    line-height: 1;
    font-family: 'VarelaRound-Regular';
    color: #fff;
    border-radius: 50px;
}
section.tell-us {
    margin: 0px;
    padding: 80px 0px;
}
section.tell-us .container{
    width: 85%;
}


/* ...(WEBSITE DEVELOPMENT PAGE)......*/
section.inner-header.app {
    background-image: url(../img/pattern-bg-breez.jpg);
}
section.application .app-desc p {
    padding: 0px 92px;
}

section.application .container{
    width: 85%;
}









/* MEDIA QUERIES / RESPONSIVENESS */

/* Small devices (landscape phones, 576px and up) */
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 600.98px) {

}


/*//// Small devices (landscape phones, less than 768px)/////*/
@media (max-width: 767.98px) {

}

/*// Medium devices (tablets, less than 992px)///*/
@media (max-width: 991.98px) {

}


/*//// Large devices (desktops, less than 1200px)//*/
@media (max-width: 1199.98px) {

}

@media (min-width: 1200px) and (max-width: 1499px) {


}

@media (min-width: 1500px) and (max-width: 1799px) {

}
@media (min-width: 1800px) and (max-width: 1900px) {

}